.about-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    gap: 2rem;
    margin: auto;
    padding-top: 8rem;
}

.about-one img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    object-fit: cover;
}

.about-one-text-content {
    grid-column: 1;
    grid-row: 2;
}

.about-one-text-content p {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2.18rem;
}

.about-one p:nth-child(2) {
    padding: 3rem 0 1rem 0;
}

.border {
    border: solid 0.0625rem black;
    margin: 7rem 0;
}

.about-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    gap: 2rem;
    margin: auto;
}

.about-two-text-content {
    grid-column: 1;
    grid-row: 2;
}

.about-two img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    object-fit: cover;
}

.about-two-text-content p {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2.18rem;
}
