.cv-heading {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.cv-section {
    margin-top: 3rem;
}

.cv-list p {
    line-height: 1.5rem;
    letter-spacing: .14rem;
}

.cv-list p svg {
    height: 1em;
}

.cv-space {
    padding-left: .5rem;
}

