.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0rem;
    color: var(--color-theme-dark-blue);
}

#btnOpen {
    border: none;
    background-color: transparent;

}

#btnOpen i, #btnClose i {
    font-size: 1.5rem;
}