@media only screen and (max-width: 766px) {
  .hide-on-mobile {
    display: none;
  }

  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background-color: white;
    color: black;
    translate: 100vw 0;
    opacity: 0;
    transition: translate 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .topnav__menu.open {
    translate: 0 0;
    opacity: 1;
  }

  .topnav__links {
    flex-direction: column;
  }

  .topnav__item {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 767px) {
  .hide-on-desktop {
    display: none;
  }

  .topnav {
    padding-top: 3rem;
  }

  .logo h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .project-wrapper {
    max-width: 700px;
    margin: auto;
  }

  .about-section {
    grid-template-columns: 50% 50%;
  }

  .profile-img {
    grid-column: 1;
    grid-row: 1;
  }

  .about-introtext {
    grid-column: 2;
    grid-row: 1;
  }

  .about-more-text {
    grid-column: 1;
    grid-row: 1;
  }

  .about-more-images {
    grid-column: 2;
    grid-row: 1;
  }

  footer p {
    font-size: .7rem;
  }
}

@media only screen and (min-width: 1095px) {
  .logo h1 {
    font-size: 3rem;
    letter-spacing: 0.385rem;
  }

  .project-wrapper {
    max-width: inherit;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .project-headings {
    grid-column: 1;
    grid-row: 1;
  }

  .project-img-primary {
    grid-row: 2;
  }

  .project-img-secondary {
    grid-row: 3/9;
  }

  .project-img-primary, .project-img-secondary {
    grid-column: 1;
    margin-right: 3rem;
  }

  .project-content-container {
    grid-column: 2;
    grid-row: 2/6;
    margin-left: 3rem;
  }

}
